{
  "baseUrl": "https://@@DOMAIN@@",
  "clientIds": {
    "gdrive":   "@@BYO_GDRIVE_CLIENT_ID@@",
    "dropbox":  "@@BYO_DROPBOX_CLIENT_ID@@",
    "onedrive": "@@BYO_ONEDRIVE_CLIENT_ID@@",
    "box":      "@@BYO_BOX_CLIENT_ID@@",
    "pcloud":   "@@BYO_PCLOUD_CLIENT_ID@@"
  }
}
